<% pageTitle='Homepage' %>

  <%- include('./partials/head') %>

    <%- include('./partials/header') %>

      <a href="/recipe/create" class="btn btn--teal">Create recipe</a>

      <section class="recipe__card__grid">
        <% recipes.forEach(recipe=> { %>
          <a class="recipe__card" href="/recipe/<%=recipe.id%>">
            <div class="img">
              <div class="overlay"></div>
              <figure>
                <img src="/img/recipes/<%=recipe.image%>" alt="#" />
              </figure>
            </div>
            <div class="text">
              <h3>
                <%=recipe.name%>
              </h3>
              <p class="user">
                <%=recipe.userName%>
              </p>
              <ul>
                <li>
                  <%=recipe.totalTimeHours===0 ? '' : `${recipe.totalTimeHours} Hours` %>
                    <%=recipe.totalTimeMinutes %> Mins
                </li>
                <li>Serves <%=recipe.serves%>
                </li>
                <li>
                  <%=recipe.difficulty%>
                </li>
              </ul>
            </div>
          </a>
          <% }) %>
      </section>

      <%- include('./partials/footer') %>