<% pageTitle='Cateogry Recipes' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h1 class="page__title">
        <span class="hash">#<%=category%></span> recipes
      </h1>

      <%- include('../partials/recipe-grid') %>

        <%- include('../partials/footer') %>