<% pageTitle='Create Recipe' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h2>Edit Recipe <%=recipe.name%>
      </h2>

      <form action="/recipe/delete/<%=recipe.id%>?_method=DELETE" method="post">
        <button type="submit" class="btn btn--red">Delete</button>
      </form>

      <form action="/recipe/edit/<%=recipe.id%>?_method=PUT" method="post" enctype="multipart/form-data"
        class="recipe__form">
        <div class="row name">
          <label for="name">Name</label>
          <input type="text" name="name" id="name" value="<%=recipe.name%>" data-error="Please add the recipe name">
          <div class="error__message" data-for="name"></div>
        </div>
        <div class="row image">
          <label for="image">Image</label>
          <input type="file" name="image" id="image" accept="image/png, image/jpg, image/jpeg, image/webp">
        </div>
        <div class="row serves">
          <label for="serves">People serves</label>
          <input type="number" name="serves" id="serves" value="<%=recipe.serves%>"
            data-error="Please add how many people the recipe serves">
          <div class="error__message" data-for="serves"></div>
        </div>
        <div class="row difficulty">
          <label for="difficulty">Difficulty</label>
          <select name="difficulty" id="difficulty" data-error="Please choose a difficulty">
            <option value="easy" <%=recipe.difficulty==='easy' ? 'selected' : '' %> >Easy</option>
            <option value="intermediate" <%=recipe.difficulty==='intermediate' ? 'selected' : '' %> >Intermediate
            </option>
            <option value="difficult" <%=recipe.difficulty==='difficult' ? 'selected' : '' %> >Difficult</option>
          </select>
          <div class="error__message" data-for="difficulty"></div>
        </div>
        <div class="row cookTime">
          <div>
            <label for="cookTimeHours">Cook Time Hours</label>
            <input type="number" name="cookTimeHours" id="cookTimeHours" value="<%=recipe.cookTimeHours%>"
              data-error="Please add the cook time hours">
            <div class="error__message" data-for="cookTimeHours"></div>
          </div>
          <div>
            <label for="cookTimeMinutes">Cook Time Mins</label>
            <input type="number" name="cookTimeMinutes" id="cookTimeMinutes" value="<%=recipe.cookTimeMinutes%>"
              data-error="Please add the cook time minutes">
            <div class="error__message" data-for="cookTimeMinutes"></div>
          </div>
        </div>
        <div class="row prepTime">
          <div>
            <label for="prepTimeHours">Prep Time Hours</label>
            <input type="number" name="prepTimeHours" id="prepTimeHours" value="<%=recipe.prepTimeHours%>"
              data-error="Please add the prep time hours">
            <div class="error__message" data-for="prepTimeHours"></div>
          </div>
          <div>
            <label for="prepTimeMinutes">Prep Time Mins</label>
            <input type="number" name="prepTimeMinutes" id="prepTimeMinutes" value="<%=recipe.prepTimeMinutes%>"
              data-error="Please add the prep time minutes">
            <div class="error__message" data-for="prepTimeMinutes"></div>
          </div>
        </div>
        <div class="row categories">
          <label for="categories">Categories <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="add" view-box="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg></label>
          <% recipe.categories.forEach(category=> { %>
            <input type="text" id="categories" name="categories" value="<%=category%>">
            <% }) %>
        </div>
        <div class="row ingredients">
          <label for="ingredients">Ingredients <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" class="add" view-box="0 0 16 16">
              <path
                d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              <path
                d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z" />
            </svg></label>
          <% recipe.ingredients.forEach(ingredient=> { %>
            <input type="text" id="ingredients" name="ingredients" value="<%=ingredient%>"
              data-error="Please add the recipe ingredients">
            <% }) %>
              <div class="error__message" data-for="ingredients"></div>
        </div>
        <div class="row instructions">
          <label for="instructions">Instructions</label>
          <textarea name="instructions" id="instructions">
            <%=recipe.instructions%>
          </textarea>
        </div>
        <div class="row public">
          <label for="public">Make Public?</label>
          <select name="public" id="public" data-error="Please choose if you want the recipe to be public">
            <option value="true" <%=recipe.public ? 'selected' : '' %> >Yes</option>
            <option value="false" <%=recipe.public ? '' : 'selected' %> >No</option>
          </select>
          <div class="error__message" data-for="public"></div>
        </div>
        <input type="hidden" name="userId" value="<%=recipe.userId%>">
        <div class="row submit">
          <button class="btn btn--teal" type="submit">Update</button>
        </div>
      </form>

      <script src="https://cdn.tiny.cloud/1/ydewp6dvevg1oagpic1c8rbm40kj28tzcb0gccbodqa3djtx/tinymce/5/tinymce.min.js"
        referrerpolicy="origin"></script>

      <script>
        tinymce.init({
          selector: '#instructions',
          menubar: '',
          toolbar: 'undo redo | styleselect | bold italic | bullist |',
          plugins: 'lists advlist paste',
          height: '440'
        });
      </script>

      <script>
        const select = (selector) => document.querySelector(selector);

        const categoryRow = select('.row.categories');
        const addCategory = select('.row.categories .add');

        addCategory.addEventListener('click', (e) => {
          const newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.name = `categories`;
          newInput.id = `categories`;
          newInput.classList.add('categories');

          categoryRow.appendChild(newInput);
        });

        const ingredientRow = select('.row.ingredients');
        const addIngredient = select('.row.ingredients .add');

        addIngredient.addEventListener('click', (e) => {
          const newInput = document.createElement('input');
          newInput.type = 'text';
          newInput.name = `ingredients`;
          newInput.id = `ingredients`;
          newInput.classList.add('ingredients');

          ingredientRow.appendChild(newInput);
        });

        // validation
        const form = select('.recipe__form');

        const fields = [
          select('#name'),
          select('#serves'),
          select('#difficulty'),
          select('#cookTimeMinutes'),
          select('#cookTimeHours'),
          select('#prepTimeMinutes'),
          select('#prepTimeHours'),
          select('#ingredients'),
        ];

        form.addEventListener('submit', (e) => {
          e.preventDefault();

          const { complete } = checkForm();

          if (complete) {
            form.submit();
          } else {
            window.scrollTo(0, 0)
          }
        });

        const checkElement = (el) => {
          if (el.value.trim() === '') {
            return false;
          } else {
            return true;
          }
        }

        const checkForm = () => {
          let complete = true;

          fields.forEach(field => {
            const el = checkElement(field);
            const err = select(`[data-for="${field.name}"]`);
            err.style.display = 'none';
            err.textContent = '';

            if (!el) {
              complete = false;

              err.style.display = 'block'
              err.textContent = field.dataset.error;
            }
          })

          return { complete };
        }

      </script>

      <%- include('../partials/footer') %>