<% pageTitle='Create Recipe' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h2>Recipe - <%=recipe.name%>
      </h2>

      <p>Name <%=recipe.name%>
      </p>
      <p>Serves <%=recipe.serves%>
      </p>
      <p>Difficulty <%=recipe.difficulty%>
      </p>

      <img src="/img/recipes/<%=recipe.image%>" alt="#">

      <% if (user && recipe.userId===user.id) { %>
        <a href="/recipe/edit/<%=recipe.id%>" class="btn btn--green">
          Edit
        </a>
        <% } %>

          <% if(user) { %>
            <form action="/recipe/save/<%=recipe.id%>" method="post">
              <input type="hidden" name="userId" value="<%=user.id%>">
              <button type="submit" class="btn btn--green">Save Recipe</button>
            </form>
            <% } %>

              <%- include('../partials/footer') %></input>