<% pageTitle='Create Recipe' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <main class="recipe__inner">

        <section class="main__img">
          <div class="img">
            <figure>
              <img src="/img/recipes/<%=recipe.image%>" alt="#">
            </figure>
            <div class="overlay"></div>
          </div>

          <% if (user && recipe.userId===user.id) { %>
            <a href="/recipe/edit/<%=recipe.id%>" class="btn btn--green edit__btn">
              Edit
            </a>
            <% } %>

        </section>

        <section class="title">
          <div class="heading">
            <h1>
              <%=recipe.name%>
            </h1>
            <% if(user) { %>
              <form action="/recipe/save/<%=recipe.id%>" method="post" class="save__form">
                <input type="hidden" name="userId" value="<%=user.id%>">
                <% if(savedRecipe) { %>
                  <button type="submit" title="Remove from saved recipes">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                      viewBox="0 0 16 16">
                      <path fill-rule="evenodd"
                        d="M2 15.5V2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.74.439L8 13.069l-5.26 2.87A.5.5 0 0 1 2 15.5zM8.16 4.1a.178.178 0 0 0-.32 0l-.634 1.285a.178.178 0 0 1-.134.098l-1.42.206a.178.178 0 0 0-.098.303L6.58 6.993c.042.041.061.1.051.158L6.39 8.565a.178.178 0 0 0 .258.187l1.27-.668a.178.178 0 0 1 .165 0l1.27.668a.178.178 0 0 0 .257-.187L9.368 7.15a.178.178 0 0 1 .05-.158l1.028-1.001a.178.178 0 0 0-.098-.303l-1.42-.206a.178.178 0 0 1-.134-.098L8.16 4.1z" />
                    </svg>
                  </button>
                  <% } else { %>
                    <button type="submit" title="Add to saved recipes">
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        viewBox="0 0 16 16">
                        <path
                          d="M7.84 4.1a.178.178 0 0 1 .32 0l.634 1.285a.178.178 0 0 0 .134.098l1.42.206c.145.021.204.2.098.303L9.42 6.993a.178.178 0 0 0-.051.158l.242 1.414a.178.178 0 0 1-.258.187l-1.27-.668a.178.178 0 0 0-.165 0l-1.27.668a.178.178 0 0 1-.257-.187l.242-1.414a.178.178 0 0 0-.05-.158l-1.03-1.001a.178.178 0 0 1 .098-.303l1.42-.206a.178.178 0 0 0 .134-.098L7.84 4.1z" />
                        <path
                          d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                      </svg>
                    </button>
                    <% } %>
              </form>
              <% } %>
          </div>
          <div class="summary">
            <p>
              By <a href="/recipe/user/<%=recipe.userId%>" title="View all recipes by <%=recipe.userName%>">
                <%=recipe.userName%>
              </a>
            </p>
            <ul class="categories">
              <% recipe.categories.forEach(category=> { %>
                <li>
                  <a href="/recipe/category/<%=category%>" title="View <%=category%> recipes">
                    #<%=category%>
                  </a>
                </li>
                <% }); %>
            </ul>
          </div>
        </section>

        <section class="details">
          <section class="content">
            <%- recipe.instructions %>
          </section>
          <aside class="sidebar">
            <ul class="figures">
              <li><span>Serves</span><span>
                  <%=recipe.serves%>
                </span></li>
              <li><span>Prep Time</span>
                <span>
                  <%=recipe.prepTimeHours===0 ? '' : `${recipe.prepTimeHours} Hours` %>
                    <%=recipe.prepTimeMinutes %> Mins
                </span>
              </li>
              <li><span>Cook Time</span>
                <span>
                  <%=recipe.cookTimeHours===0 ? '' : `${recipe.cookTimeHours} Hours` %>
                    <%=recipe.cookTimeMinutes %> Mins
                </span>
              </li>
            </ul>
            <ul class="ingredients">
              <h3>What you'll need</h3>
              <% recipe.ingredients.forEach(ingredient=> { %>
                <li>
                  <%=ingredient%>
                </li>
                <% }); %>
            </ul>
          </aside>
        </section>

        <% if (user && recipe.userId !==user.id) { %>
          <div class="add__user__photos">
            <h5>Add your photos!</h5>
            <form action="/recipe/user-photos/<%=recipe.id%>/<%=user.id%>" method="POST" enctype="multipart/form-data">
              <input type="file" name="image" id="image" required>
              <button type="submit" class="btn btn--teal">Add</button>
            </form>
          </div>
          <% } %>

            <% if (userPhotos && userPhotos.length> 0) { %>
              <div class="user__photos">
                <div class="splide user__photo__splide">
                  <div class="splide__track">
                    <ul class="splide__list">
                      <% userPhotos.forEach(photo=> { %>
                        <li class="splide__slide">
                          <div class="user__photo">
                            <% if(user && photo.userId===user.id) { %>
                              <form action="/recipe/user-photos/<%=photo.id%>?_method=DELETE" method="POST">
                                <input type="hidden" name="recipeId" value="<%=recipe.id%>">
                                <button type="submit" class="btn btn--red">
                                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#fff"
                                    viewBox="0 0 16 16">
                                    <path
                                      d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z" />
                                  </svg>
                                </button>
                              </form>
                              <% } %>
                                <figure>
                                  <img src="/img/recipes/<%=photo.image%>" alt="#">
                                </figure>
                          </div>
                        </li>
                        <% }) %>
                    </ul>
                  </div>
                </div>
              </div>

              <script defer>
                const userPhotoSplide = new Splide('.user__photo__splide', { type: 'loop', perPage: 3, perMove: 1, easing: 'ease', speed: 1000, autoplay: true, interval: 5000, gap: '1rem', pagination: false, drag: true, arrows: false }).mount()
              </script>
              <% } %>


      </main>

      <%- include('../partials/footer') %></input>