<% pageTitle='Create Recipe' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <main class="recipe__inner">

        <section class="main__img">
          <div class="img">
            <figure>
              <img src="/img/recipes/<%=recipe.image%>" alt="#">
            </figure>
            <div class="overlay"></div>
          </div>
          <div class="text">
            <h1>
              <%=recipe.name%>
            </h1>
            <p>
              By <a href="/recipe/user/<%=recipe.userId%>">
                <%=recipe.userName%>
              </a>
            </p>
            <ul class="categories">
              <% recipe.categories.forEach(category=> { %>
                <li><a href="/recipe/category?category=<%=category%>">
                    #<%=category%>
                  </a></li>
                <% }); %>
            </ul>
          </div>
        </section>

        <section class="details">
          <ul class="ingredients">
            <% recipe.ingredients.forEach(category=> { %>
              <li>
                <%=category%>
              </li>
              <% }); %>
          </ul>
        </section>

        <% if (user && recipe.userId===user.id) { %>
          <a href="/recipe/edit/<%=recipe.id%>" class="btn btn--green">
            Edit
          </a>
          <% } %>

            <% if(user) { %>
              <form action="/recipe/save/<%=recipe.id%>" method="post">
                <input type="hidden" name="userId" value="<%=user.id%>">
                <button type="submit" class="btn btn--green">
                  <% if(user.savedRecipes.includes(recipe.id)) { %>
                    Unsave Recipe
                    <% } else { %>
                      Save Recipe
                      <% } %>
                </button>
              </form>
              <% } %>

      </main>

      <%- include('../partials/footer') %></input>