<% pageTitle='Cateogry Recipes' %>

  <%- include('../partials/head') %>

    <%- include('../partials/header') %>

      <h1 class="page__title">
        <%= recipeUser.firstName %>
          <%= recipeUser.lastName%> recipes
      </h1>

      <%- include('../partials/recipe-grid') %>

        <%- include('../partials/footer') %>